h1 {
  text-align: center;
}

ion-card {
  width: 50%;
  margin: 5% auto;
  padding: 2% 5%;
}

.tab {
  height: "60px";
}

Link {
  text-align: center;
}

form {
  text-align: center;
}

@media (max-width: 678px) {

  ion-card {
    width: 90%;
    margin: 5% auto;
    padding: 2% 5%;
  }
}

@media (min-width: 1024px) {
  .tab {
    width: 100%;
  }

}